:root {
    --base-font-size: 1rem;
    --primary-color: #094B72;
}


body {
    margin: 0;
    padding: 0;
}

/* ------- header ------- */

.logo {
    display: flex;
    padding: 0;
    margin: 0.625rem 0 0;
}

.logo svg {
    width: 9.375rem;
    height: 2.25rem;
    margin-top: 1.063px;
    flex-shrink: 0;
    fill: #094B72;
}

.nav__bar {
    display: flex;
    padding: 0;
    gap: 1.875rem;
}

header ul li {
    float: right;
    display: inline-flex;
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

header ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #2D2F30;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.438rem;
    letter-spacing: 1.5px;
    margin: -0.625rem 0 0 0.625rem;
    text-transform: uppercase;
}

#search {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1.188rem;
}

/* ---------------------------------------- */
/* ---------------- Section main ------------------ */


/* ---------------------------------------- */


@media screen and (min-width: 1024px) and (max-width: 1279px) {}

@media screen and (min-width: 1280px) {}

@media screen and (min-width: 699px) and (max-width: 767px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 767px) {

    /* html , body {
        display: block;
        width: 43.75rem;
      }
       */

    header {
        margin-top: 10px;
        width: 43.75rem;
        display: flex;
        justify-content: space-around;
        column-gap: 290px;
    }

    .nav__bar {
        display: none;
    }

    .title,
    .feature__section {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 20%;
        width: 27.091rem;
    }

    .main,
    .feature__section {
        width: 100%;
        margin: 0;
    }


    .main__title h1,
    .title h1 {
        font-size: 4.875rem;
        margin-bottom: 1rem;
        color: var(--primary-color);
    }

    .main__title p {
        font-size: 1.5rem;
        color: var(--neutral-grey-6, #4F4F4F);
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 158%;
        letter-spacing: 0.5px;
    }

    .main__title button {
        width: 11.688rem;
        height: 4.375rem;
        flex-shrink: 0;
        border-radius: 8px;
        border: 0px;
        background: var(--primary-color);
        padding: 0;
        margin-top: 23px;
        margin: 0 15%;

    }

    .main__title button span {
        width: 50px;
        height: 22px;
        margin: 29px 36px 29px 36px;
        color: #F9F8F9;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140.5%;
        letter-spacing: 1.28px;
    }

    .main__image {
        margin-top: 30px;
    }

    .ellipse1 {
        width: 700px;
        height: 750px;
        background: rgba(110, 168, 255, 0.10);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 0px 0px;
    }

    .ellipse2 {
        width: 399px;
        height: 400px;
        background: #6ea8ff2b;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.49px 110px 171px 68.2px;
        margin-top: -171px;
    }

    .ellipse2 img {
        width: 438px;
        height: 671.811px;
        flex-shrink: 0;
        margin: 411px 40px 0 105px;
    }

    .name {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 382px;
        height: 114px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFFFFF;
        margin: 0px 100px 100px 151px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .name h2 {
        width: 231px;
        height: 36px;
        color: #33475B;
        text-align: center;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 0;
    }

    .name p {
        width: 161px;
        height: 36px;
        color: #727272;
        text-align: center;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
        margin: 0 0 10px;
    }

    /* ///////////// Section 2 ///////////////// */

    .feature__section {
        background: rgb(242, 247, 255);
        margin-top: -83px;
        height: 1626px;
    }

    .main__title,
    .feature__section,
    .achievement__section,
    .cta__section,
    footer,
    .contact__title,
    .contact__map {
        display: block;
        width: 43.75rem;
    }

    .side1 {
        height: 291px;
        display: flex;
        flex-wrap: wrap;
    }

    .side1 h2,
    .cta__section h3 {
        font-family: "Playfair Display";
        font-size: 59px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 0.323077px;
        text-align: left;
        margin-bottom: 0;
    }

    .side1 p {
        color: #6a6a6a;
        font-feature-settings: "clig" 0, "liga" 0;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.5px;
        padding: 0 147px;
    }

    .side2 {
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        justify-content: flex-end;
        row-gap: 40px;
        margin-top: 78px;
    }

    .feature h3 {
        color: #363940;
        font-family: 'Playfair Display';
        font-size: 22px;
        font-style: normal;
        font-weight: 550;
        line-height: 22px;
        letter-spacing: 0.5px;
    }

    .feature p {
        color: #727272;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        margin-top: 0;
    }

    .feature {
        display: flex;
        width: 224px;
        height: 224px;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 8px;
        background: rgb(252, 252, 252);
        box-shadow: rgba(0, 0, 0, 0.06) 0px 18px 58px 16px;
    }

    /* ///////////// Section 3 ///////////////// */

    .achievement__section {
        /* height: 376px; */
        flex-shrink: 0;
        background: url(../images/Patterns.svg) rgb(9, 75, 114);
        margin-top: 0;
        color: #FFF;
    }

    .achievement__title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .achievement__title h3 {
        margin: 30px 0 0;
        text-align: center;
        font-feature-settings: "salt", "liga" 0;
        font-family: "Playfair Display";
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 64px;
        letter-spacing: 0.24px;

    }

    .achievement__title p {
        font-feature-settings: "salt", "liga" 0;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.5px;
        margin-bottom: 50px;
    }

    .stats__container {
        row-gap: 30px;
    }

    .stats {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .stats span {
        color: #FFF;
        text-align: center;
        font-feature-settings: "salt", "liga" 0;
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: 64px;
    }

    .stats p {
        color: #FFF;
        text-align: center;
        font-feature-settings: "salt", "liga" 0;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.054px;
    }

    /* ///////////// Section 5 ///////////////// */

    .cta__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
    }

    .cta__section p {
        color: #4F4F4F;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.5px;
        width: 500px;
        flex-shrink: 0;
        align-items: flex-start;
    }

    .cta__section button {
        width: 11.688rem;
        height: 4.375rem;
        flex-shrink: 0;
        border-radius: 8px;
        border: 0px;
        background: var(--primary-color);
        padding: 0;
        margin-top: 23px;
        margin: 0 15%;
    }

    .cta__section button span {
        color: #FFF;
        font-size: 17px;
    }


    footer {
        flex-shrink: 0;
        background: #094B72;
        height: 350px;

    }

    .footer__logo svg {
        width: 139px;
        height: 61px;
        margin: 30px 0px 0px 30px;
    }

    .footer__nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .footer__nav ul {
        list-style-type: none;
    }

    .footer__nav ul li {
        color: #eeeff4b8;
        font-feature-settings: 'salt' on, 'liga' off;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding: 0;
    }

    .footer__nav .heading {
        color: #F4F5F7;
        padding: 0 0 20px 0;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
    }

    /* ---------- About ------------ */

    .about__image .ellipse2 img {
        width: 486px;
        height: 498.811px;
        flex-shrink: 0;
        margin: 250px 34px 0 81px;
    }

    .about__image .ellipse1 {
        width: 700px;
        height: 659px;
        margin-top: 50px;

    }

    .about__image .ellipse2 {
        margin-top: -76px;
    }

    .about__image {
        margin: 50px 0;
    }

    /* ---------- Service ------------ */

    .service h1,
    .title h1 {
        font-size: 60px;
        padding-top: 20px;

    }
    .service__ellipse1{
        border-radius: 38%;
        
    }
    .service img {
        margin: 317px 40px 0 90px;
        width: 614px;
        height: 554px;
    }
    .service__ellipse2{
        padding: 0.49px 110px 171px 90.2px;
    }
    .service__main {
        margin-bottom: 150px;
    }

    /* ---------- Contact ------------ */

    .elements{
        height: 70px;
    }
  

    .contact__title {
        margin-top: 50px;
        width: 43.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    form {
        width: 500px;
        margin-top: 30px;
    }

    .contact__title input {
        width: 100%;
        border: none;
        height: 50px;
        /* margin-bottom: 25px; */
        padding: 0;
        padding-left: 25px;
        background-color: #ffffff;
        outline: none;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    }

    .contact__title input.message__box {
        height: 135px;
    }

    label {
        font-family: 'Lato', sans-serif;
        color: #727272;
    }


    .contact__title select option {
        color: #AEAEAE;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.28px;
    }

    .contact__title select {
        width: 527px;
        border: none;
        font-family: 'Lato', sans-serif;
        height: 50px;
        margin-top: 10px;
        padding-left: 25px;
        background-color: #ffffff;
        outline: none;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    }

    .contact__title button {
        border: none;
        display: inline-block;
        font-family: 'Merriweather Sans', sans-serif;
        text-transform: uppercase;
        padding: 10px 55px;
        background: #094B72;
        border: 1px solid #0355cc;
        border-radius: 8px;
        color: #ffffff;
        margin-top: 15px;
        height: 80px;
        width: 200px;
    }

    .contact__title button:hover {
        width: 190px;
        height: 80px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 0px;
        background-color: #0355cc;
        padding: 0;
        margin-top: 23px;
    }

    .contact__title button span {
        width: 118px;
        height: 22px;
        color: #F9F8F9;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140.5%;
        letter-spacing: 1.28px;
    }


    .contact__title .map_container {
        height: 360px;

    }

    .contact__title .map_container .map {
        height: 100%;
    }

   /* ----- Form Validation ----------- */

    .form-flow i{
        right: 1rem;
        bottom: 2.1rem;
        visibility: hidden;
    }

    .form-flow small{
        visibility: hidden;
    }
    
    .form-flow.success input{
        border: 1px solid transparent;
        border-color:rgb(83, 200, 15) ;
        visibility: visible;
    }
    
    .form-flow.error input{
        border: 1px solid transparent;
        border-color: rgb(199, 34, 34);
        visibility: visible;
    }
    .form-flow.error select {
        border: 1px solid red;
    }
    
    .form-flow.success .fa-check-circle{
        visibility: visible;
        color: rgb(83, 200, 15);
    }
    
    .form-flow.error .fa-exclamation-circle{
        visibility: visible;
        color: rgb(199, 34, 34);
    }
    
    .form-flow.error small{
        visibility: visible;
        color:rgb(199, 34, 34); ;
    }

   /* ------------------------------------- */

    /* ////// Map //// */

    .contact__map {
        height: 700px;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #googleMap {
        border-radius: 60px;
        width: 80%;
        height: 80%;

    }



}